{% extends 'base_main.html' %}
{% load static %}
{% block extCSS %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'app/market/market.css' %}">
{% endblock %}

{% block EXTJS %}
    <script type="text/javascript" src="{% static 'app/market/js/market.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/comm.js' %}"></script>
{% endblock %}


{% block content %}

    <div id="market">

        <aside>
            {% for foottype in foottypes %}
                <ul>
                    <!--闪购分类展示-->
                    <li>
                        <!--链接地址，点击获取分类下的商品信息-->

                        <a href="{% url 'axf:smarketpragram' foottype.typeid cid sort_id %}">{{ foottype.typename }}</a>
                        {% ifequal typeid foottype.typeid %}
                        <span class="yellowSlide"></span>
                        {% endifequal %}

                    </li>
                    <!--处理数据结束-->

                </ul>
            {% endfor %}
        </aside>


        <section>
            <nav>
                <ul>
                    <li id="all_types"><span>全部类型<span id="all_type_logo"
                                                       class="glyphicon glyphicon-chevron-down"></span></span></li>
                    <li id="sort_rule"><span>综合排序<span id="sort_rule_logo"
                                                       class="glyphicon glyphicon-chevron-down"></span></span></li>
                </ul>
            </nav>

            <menu>
                <ul>
                    <!--商品信息展示-->
                    {% for good in goods_types%}
                    <li>
                        <a href="#">
                            <img src="{{ good.productimg }}" alt="">
                            <div class="shoppingInfo">
                                <h6>{{ good.productlongname }}</h6>
                                <p class="detailTag">
                                    <span>精选</span>
                                    <span></span>
                                </p>
                                <p class="unit">
                                    {{ good.specifics }}
                                </p>
                                <p class="price">
                                    <span>¥:{{ good.price }}</span>
                                    <s>¥:{{ good.marketprice }}</s>
                                </p>
                            </div>
                        </a>
                        <section>
                            {% csrf_token %}
                            <button onclick="subshop({{ good.id }})">-</button>
                            <span id="num_{{ good.id }}">0</span>
                            <button onclick="addshop({{ good.id }})">+</button>
                        </section>
                    </li>
                    <!--处理数据结束-->
                    {% endfor %}
                </ul>

                <div id="all_types_container">
                    <div>
                        <!--加载全部分类的数据-->
                        {% for i in child_types_list %}
                        <a href="{% url 'axf:smarketpragram' typeid i.1 0 %}">
                            <span>{{ i.0 }}</span>
                        </a>
                        <!--处理数据结束-->
                        {% endfor %}

                    </div>
                </div>


                <div id="sort_container">
                    <div>
                        {#      排序传递的也是状态码   0 , 1 ,2  , 3 ,4 ,5...                    #}
                        <a href="{% url 'axf:smarketpragram' typeid cid 0 %}">
                            <span>综合排序</span>
                        </a>
                        <a href="{% url 'axf:smarketpragram' typeid cid 1 %}">
                            <span>销量排序</span>
                        </a>
                        <a href="{% url 'axf:smarketpragram' typeid cid 2 %}">
                            <span>价格降序</span>
                        </a>
                        <a href="{% url 'axf:smarketpragram' typeid cid 3 %}">
                            <span>价格升序</span>
                        </a>

                    </div>
                </div>

            </menu>

        </section>


    </div>


{% endblock %}